html {
  scroll-behavior: smooth;
}

body {
  background-color: #e3e8e8;
  font-family: "Roboto", serif;
}

/* colors */

.white {
  color: #ffffff;
}

.accent {
  color: #2b4d4d;
}

.neutral {
  color: #e3e8e8;
}

.accent-background {
  background-color: #2b4d4d;
}

.neutral-background {
  background-color: #e3e8e8;
}

.neutral:hover {
  color: #e3e8e8;
  text-decoration: none;
}

.accent:hover {
  color: #2b4d4d;
  text-decoration: none;
}

.neutral-gradient {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: linear-gradient(to right, #e3e8e8 0%, #c9d6d6 100%);
}

.accent-gradient {
  background-image: linear-gradient(to right, #96a3a3 0%, #819494 100%);
}

.neutral-gradient:hover,
.accent-gradient:hover {
  background-position: left;
}

.highlight-font {
  font-family: "Kanit", serif;
}

.morph-item {
  box-shadow: 0 50px 50px 0 #819494, 0 -50px 50px 0 #ffffff;
}

.circle {
  border-radius: 50%;
}

.name {
  margin: auto;
  text-align: center;
  font-size: 6.5em;
  color: #2b4d4d;
}

.image {
  border-color: #e3e8e8;
  border-style: solid;
  border-width: 1em;
  position: relative;
  width: 60vw;
  height: 60vw;
  overflow: hidden;

  margin-left: auto;
  margin-right: auto;
}

.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered {
  text-align: center;
}

.top-vertical-distance-sm {
  margin-top: 6vh;
}

.top-vertical-distance-md {
  margin-top: 12vh;
}

.top-vertical-distance-lg {
  margin-top: 18vh;
}

.bottom-vertical-distance-sm {
  margin-bottom: 6vh;
}

.bottom-vertical-distance-md {
  margin-bottom: 12vh;
}

.bottom-vertical-distance-lg {
  margin-bottom: 18hv;
}

.fa {
  padding: 1em;
  font-size: 3em;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 5px 2px;
  margin-left: 1em;
  margin-right: 1em;
}

.fa:hover {
  opacity: 0.7;
}

.rounded-button {
  border-style: none;
  border-radius: 50px;
  background-color: #819494;
  color: #ffffff;
  font-size: 3.5em;
  padding-left: 50px;
  padding-right: 50px;
}

.default-text {
  font-size: 2.5em;
}

@media screen and (min-width: 992px) {
  .default-text {
    font-size: 1.4vw;
  }

  .image {
    border-width: 1vw;
    width: 20vw;
    height: 20vw;
  }

  .name {
    font-size: 4vw;
  }

  .fa {
    font-size: 2vw;
  }

  .top-vertical-distance-md {
    margin-top: 10vh;
  }

  .back-to-top,
  .rounded-button {
    display: none;
  }
}
